.liquid-gradient-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.liquid-gradient-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
