.theme-switch {
  --scale: 1.2;
  position: relative;
  display: inline-block;
  width: calc(var(--scale) * 60px);
  height: calc(var(--scale) * 34px);
  cursor: pointer;
}

.theme-switch #theme-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #2196f3;
  transition: 0.4s;
  z-index: 0;
  overflow: hidden;
}

.theme-switch .sun-moon {
  position: absolute;
  content: "";
  height: calc(var(--scale) * 26px);
  width: calc(var(--scale) * 26px);
  left: calc(var(--scale) * 4px);
  bottom: calc(var(--scale) * 4px);
  background-color: yellow;
  transition: 0.4s;
}

.theme-switch #theme-input:checked + .slider {
  background-color: black;
}

.theme-switch #theme-input:focus + .slider {
  box-shadow: 0 0 calc(var(--scale) * 1px) #2196f3;
}

.theme-switch #theme-input:checked + .slider .sun-moon {
  transform: translateX(calc(var(--scale) * 26px));
  background-color: white;
  animation: rotate-to-night 0.6s ease-in-out both;
}

.theme-switch #theme-input:not(:checked) + .slider .sun-moon {
  animation: rotate-to-day 0.6s ease-in-out both;
}

@keyframes rotate-to-night {
  0% {
    transform: translateX(0) rotate(0);
  }
  100% {
    transform: translateX(calc(var(--scale) * 26px)) rotate(360deg);
  }
}

@keyframes rotate-to-day {
  0% {
    transform: translateX(calc(var(--scale) * 26px)) rotate(360deg);
  }
  100% {
    transform: translateX(0) rotate(720deg);
  }
}

.theme-switch .moon-dot {
  opacity: 0;
  transition: 0.4s;
  fill: gray;
}

.theme-switch #theme-input:checked + .slider .sun-moon .moon-dot {
  opacity: 1;
}

.theme-switch .slider.round {
  border-radius: calc(var(--scale) * 34px);
}

.theme-switch .slider.round .sun-moon {
  border-radius: 50%;
}

.theme-switch #moon-dot-1 {
  left: calc(var(--scale) * 10px);
  top: calc(var(--scale) * 3px);
  position: absolute;
  width: calc(var(--scale) * 6px);
  height: calc(var(--scale) * 6px);
  z-index: 4;
}

.theme-switch #moon-dot-2 {
  left: calc(var(--scale) * 2px);
  top: calc(var(--scale) * 10px);
  position: absolute;
  width: calc(var(--scale) * 10px);
  height: calc(var(--scale) * 10px);
  z-index: 4;
}

.theme-switch #moon-dot-3 {
  left: calc(var(--scale) * 16px);
  top: calc(var(--scale) * 18px);
  position: absolute;
  width: calc(var(--scale) * 3px);
  height: calc(var(--scale) * 3px);
  z-index: 4;
}

.theme-switch #light-ray-1,
.theme-switch #light-ray-3,
.theme-switch #light-ray-2 {
  position: absolute;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

.theme-switch #light-ray-1 {
  left: calc(var(--scale) * -8px);
  top: calc(var(--scale) * -8px);
  width: calc(var(--scale) * 43px);
  height: calc(var(--scale) * 43px);
}

.theme-switch #light-ray-2 {
  left: -50%;
  top: -50%;
  width: calc(var(--scale) * 55px);
  height: calc(var(--scale) * 55px);
}

.theme-switch #light-ray-3 {
  left: calc(var(--scale) * -18px);
  top: calc(var(--scale) * -18px);
  width: calc(var(--scale) * 60px);
  height: calc(var(--scale) * 60px);
}

.theme-switch .cloud-light,
.theme-switch .cloud-dark {
  position: absolute;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.theme-switch .cloud-light {
  fill: #eee;
}

.theme-switch .cloud-dark {
  fill: #ccc;
  animation-delay: 1s;
}

.theme-switch #cloud-1 {
  left: calc(var(--scale) * 30px);
  top: calc(var(--scale) * 15px);
  width: calc(var(--scale) * 40px);
}

.theme-switch #cloud-2 {
  left: calc(var(--scale) * 44px);
  top: calc(var(--scale) * 10px);
  width: calc(var(--scale) * 20px);
}

.theme-switch #cloud-3 {
  left: calc(var(--scale) * 18px);
  top: calc(var(--scale) * 24px);
  width: calc(var(--scale) * 30px);
}

.theme-switch #cloud-4 {
  left: calc(var(--scale) * 36px);
  top: calc(var(--scale) * 18px);
  width: calc(var(--scale) * 40px);
}

.theme-switch #cloud-5 {
  left: calc(var(--scale) * 48px);
  top: calc(var(--scale) * 14px);
  width: calc(var(--scale) * 20px);
}

.theme-switch #cloud-6 {
  left: calc(var(--scale) * 22px);
  top: calc(var(--scale) * 26px);
  width: calc(var(--scale) * 30px);
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(calc(var(--scale) * 4px));
  }
  80% {
    transform: translateX(calc(var(--scale) * -4px));
  }
  100% {
    transform: translateX(0px);
  }
}

.theme-switch .stars {
  transform: translateY(calc(var(--scale) * -32px));
  opacity: 0;
  transition: 0.4s;
}

.theme-switch .star {
  fill: white;
  position: absolute;
  transition: 0.4s;
  animation-name: star-twinkle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.theme-switch #theme-input:checked + .slider .stars {
  transform: translateY(0);
  opacity: 1;
}

.theme-switch #star-1 {
  width: calc(var(--scale) * 20px);
  top: calc(var(--scale) * 2px);
  left: calc(var(--scale) * 3px);
  animation-delay: 0.3s;
}

.theme-switch #star-2 {
  width: calc(var(--scale) * 6px);
  top: calc(var(--scale) * 16px);
  left: calc(var(--scale) * 3px);
}

.theme-switch #star-3 {
  width: calc(var(--scale) * 12px);
  top: calc(var(--scale) * 20px);
  left: calc(var(--scale) * 10px);
  animation-delay: 0.6s;
}

.theme-switch #star-4 {
  width: calc(var(--scale) * 18px);
  top: calc(var(--scale) * 0px);
  left: calc(var(--scale) * 18px);
  animation-delay: 1.3s;
}

@keyframes star-twinkle {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
